.top{
  text-align: center;
  border-bottom: 10px solid yellow;
}

.side{
  width: 300px;
  height: 200px;
  margin-left: 20px;
}

.form-tag{
  font-size: large;
}

.kome{
  height: 50px;
  width: 50px;
}

.main{
  display: flex;
  height: 200px;
}

.simple-calendar {
  .has-events {
    background: #98fb98;
  }
 }

.wday-0  {
  color: red;
}
.wday-6  {
   color: blue;
} 